body{
    background-image: url("../images/pasbg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    }
  div {
    margin: 5% 20%;
    background-color: rgb(150, 198, 221);
    opacity: 0.5;
    
    font-family: sans-serif;
    font-size: larger;
    height: 400px;
    }
h1{
    text-align: center;
    text-decoration: underline;
    margin-top: 200px;
}
.reply{
    text-align: center;
    text-decoration: underline;
    margin-top: 200px;
}